<div class="container">
  <div id="mapa" style="height: 600px; padding-top: 10px;"></div>
  <br />
  <div class="container" style="padding-top: 5px; padding-bottom: 10px;">
    <div class="row">
      <div class="col-md-4">
        <label for="txtNombreEstado">Estado</label>
        <input type="text" class="form-control" id="txtNombreEstado" value="{{nombre}}">
      </div>
      <div class="col-md-4">
        <label for="txtCapital">Capital</label>
        <input type="text" class="form-control" id="txtCapital" value="{{capital}}">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="txtPoblacion">Población</label>
        <input type="text" class="form-control" id="txtPoblacion" value="{{poblacion}}">
      </div>
      <div class="col-md-4">
        <label for="txtArea">Área</label>
        <input type="text" class="form-control" id="txtArea" value="{{area}}">
      </div>
    </div>
  </div>
</div>